@section styles{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pagination.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        ul, li {
            list-style: none;
        }

        #wrapper {
            width: 900px;
            margin: 20px auto;
        }

        .data-container {
            margin-top: 20px;
        }

            .data-container ul {
                padding: 0;
                margin: 0;
            }

            .data-container li {
                margin-bottom: 5px;
                padding: 5px 10px;
                background: #eee;
                color: #666;
            }
    </style>

}

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="view-courses-tab" data-bs-toggle="tab" data-bs-target="#view-courses" type="button" role="tab" aria-controls="view-courses" aria-selected="true">Discover Courses</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="my-courses-tab" data-bs-toggle="tab" data-bs-target="#my-courses" type="button" role="tab" aria-controls="my-courses" aria-selected="false">My Courses</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <!-- Start of Eligible course -->
        <div class="tab-pane fade show active" id="view-courses" role="tabpanel" aria-labelledby="view-courses-tab">
            <!-- card design -->
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div id="wrapper">
                        <section>
                            <div class="data-container"></div>
                            <div id="pagination-demo1"></div>
                            <div class="data-container"></div>
                            <div id="pagination-demo2"></div>
                        </section>
                    </div>
                </div>

                <div class="col">

                </div>
            </div>

        </div>
        <!-- End of Eligible course -->

        <div class="tab-pane fade" id="my-courses" role="tabpanel" aria-labelledby="my-courses-tab">
            test
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            there
        </div>
    </div>
</div>


@section scripts {
    
    <script src="~/js/pagination.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>

        $(function () {
            (function (name) {
                var container = $('#pagination-' + name);
                var sources = function () {
                    var result = [];

                    for (var i = 1; i < 196; i++) {
                        result.push(i);
                    }

                    return result;
                }();

                var options = {
                    dataSource: sources,
                    pageSize: 5,
                    callback: function (response, pagination) {
                        window.console && console.log(response, pagination);

                        var dataHtml = '';

                        $.each(response, function (index, item) {
                            dataHtml += '<div class="row align-items-center"><div class="col">' + `<div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>` + '</div></div>';
                        });

                        dataHtml += '';

                        container.prev().html(dataHtml);
                    }
                };

                //$.pagination(container, options);

                container.addHook('beforeInit', function () {
                    window.console && console.log('beforeInit...');
                });
                container.pagination(options);

                container.addHook('beforePageOnClick', function () {
                    window.console && console.log('beforePageOnClick...');
                    //return false
                });
            })('demo1');

            (function (name) {
                var container = $('#pagination-' + name);
                container.pagination({
                    dataSource: 'https://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?',
                    locator: 'items',
                    totalNumber: 120,
                    pageSize: 20,
                    ajax: {
                        beforeSend: function () {
                            container.prev().html('Loading data from flickr.com ...');
                        }
                    },
                    callback: function (response, pagination) {
                        window.console && console.log(22, response, pagination);
                        var dataHtml = '<ul>';

                        $.each(response, function (index, item) {
                            dataHtml += '<li>' + item.title + '</li>';
                        });

                        dataHtml += '</ul>';

                        container.prev().html(dataHtml);
                    }
                })
            })('demo2');
        })
    </script>
}
