@section styles{
    <link href="~/css/Learner/view-course-material.css" rel="stylesheet" type="text/css" />

}
<div class="row m-3">
    <div class="col-1"></div>
    <div class="col">
        <a class="menu-link" asp-controller="Learner" asp-action="ViewEnrolledCourses">
            <span class="menu-title">Go back to view enrolled courses</span>
        </a>
    </div>
    <div class="col">

    </div>
</div>
<div id="" class="container">

    <div class="row">
        <div id="view_course_material" class="col">

        </div>
        <div id="view_accordion" class="col-4">

        </div>
    </div>


</div>




@section scripts {
    <script onload="view('@ViewBag.ChapterId')" src="~/js/Learner/view-coursematerial.js"></script>
}
