@section styles{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <style>
        #containerRight{
            width: 20%;
        }
        #create_qn{
            align-self:end;
        }

    </style>
    
}





<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom">

                @*header of the table : put tabs here *@
                <div class="card-header">
                    <h1>Course Class</h1>
                </div>


                @*card body is to add content*@
                <div class="card-body ">
                    <form method="post" action="">
                    <div class="d-flex flex-row">
                    <div class="container flex-column" id="containerLeft">

                    <!--begin::Time Limit section-->
                    <!--end::Time Limit section-->
                    <!--begin::Qn Card (at least preset 1)-->
                        <div class="d-flex justify-content-end mb-2">
                            <button type="button" class="btn btn-success btn-sm btn-block" id="create_qn" >Add question</button>
                        </div>
                        
                        <div class="card p-4 ">
                            <textarea class="form-control my-4 ml-2" id="exampleFormControlTextarea1" rows="2" placeholder="Write question here"></textarea>

                            <div class="d-flex justify-content-end mb-2">
                                <button type="button" class="btn btn-success btn-sm">Add option</button>
                            </div>
                            
                            <div class="input-group mb-3">
                              <span class="input-group-text" id="inputGroup-sizing-default">Set Answer</span>
                              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="d-flex justify-content-end mb-2 mt-4">
                                <button type="button" class="btn btn-danger btn-block">Delete</button>
                            </div>
                            
                        </div>
                        <!--end::Qn Card-->
                        <button type="button" class="btn btn-info"> Create new quiz</button>
                    </div>
                    <div class="container d-flex align-items-end flex-column" id= "containerRight">
                        <div class="form-group">
                        <label for="exampleFormControlSelect1">Set Quiz Duration</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>5 min</option>
                          <option>10 min</option>
                          <option>15 min</option>
                        </select>
                      </div>
                    </div>
                    </div>
                </form>
                </div>
               
                
            </div>
        </div>
    </div>
</div>



@*url for retrieving customers*@
<input type="hidden" id="Retrieve-customers" value="@Url.RouteUrl("RetrieveCustomers")">



@section scripts {
    <script src="~/js/index.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        //insert onclick post json format
        // use ajax and send json string 
    </script>
}