body{
    background-color:ghostwhite;
}

.nav-link {
    color: black;
    font-weight: bold;
    
}

.active{
    font-weight:bold;
    color:red;
}

.show {
    display: block !IMPORTANT;
}

.tabContent{
    display:none;
}

#AssignRolebtn {
    margin-left: 1000px;
}

th {
    font-weight: bold !IMPORTANT;
}
