@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/sl-1.3.3/datatables.min.css" />
    <link href="~/css/HR.css" rel="stylesheet" type="text/css" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin:NavBar-->
    <div class="container">

        <nav class="nav">
            <a class="nav-link tabMenu active" id="EngineerLink" href="#">Engineer List</a>
            <a class="nav-link tabMenu" id="ClassLink" href="#">Class List</a>
        </nav>
        <hr />

    </div>
    <!--end:NavBar-->
    <!--begin:: engineer clast list tabcontent-->
    <div class="container tabContent EngineerLink show" id="engineer">

        <!--begin:Card-->
        <div class="card card-custom">

            <!--card-header-->
            <div class="card-header">
                <div class="card-title">
                    <button class="btn btn-success" title="AssignRole" id="AssignRolebtn" disabled>Edit Role</button>
                </div>
            </div>

            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="engineer_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            @*add checkbox*@
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Role</th>
                            @*add button*@
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->

            </div>
            <!--end::Card-Body-->

        </div>
        <!--end::Card-->
    </div>
    <!--end::engineer list tab-->
    <!--begin:: class list tabcontent-->
    <div class="container tabContent ClassLink" id="class">

        <!--begin:Card-->
        <div class="card card-custom">

            <!--card-header-->
            <div class="card-header"></div>

            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="class_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Class Number</th>
                            @*add button*@
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->

            </div>
            <!--end::Card-Body-->

        </div>
        <!--end::Card-->

    </div>
    <!--end: class list tabcontent-->


</div>




@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/sl-1.3.3/datatables.min.js"></script>
    <script src="~/js/HR.js"></script>
}
