@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/sl-1.3.3/datatables.min.css" />
    @*<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/HR.css" rel="stylesheet" type="text/css" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom">

                @*header of the table : put tabs here *@
                <div class="card-header">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="engineer-tab" data-bs-toggle="tab" data-bs-target="#engineer" type="button" role="tab">Engineer List</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="class-tab" data-bs-toggle="tab" data-bs-target="#class" type="button" role="tab">Class List</button>
                        </li>
                    </ul>
                </div>

                @*card body is to add content*@ 
                <div class="card-body">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="engineer">
                            <div>
                                @*add button*@

                                <button class="btn btn-primary">Add role</button>
                            </div>
                            @*begin: Datatable*@
                            <table class="table table-bordered table-hover table-checkable" id="engineer_datatable" style="margin-top: 13px !important">
                                <thead>
                                    <tr>
                                        @*add checkbox*@
                                        <th></th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        @*add button*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                            @*end: Datatable*@
                        </div>
                        <div class="tab-pane fade" id="class">
                            <div>
                                @*add button*@
                            
                            </div>
                            @*begin: Datatable*@
                            <table class="table table-bordered table-hover table-checkable" id="class_datatable" style="margin-top: 13px !important">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Class Number</th>
                                        @*add button*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                            @*end: Datatable*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/sl-1.3.3/datatables.min.js"></script>
    @*<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>*@
    <script src="~/js/HR.js"></script>
}

@*begin:: engineer clast list tabcontent*@
<!--<div class="container tabContent EngineerLink show" id="engineer">-->
@*begin:Card*@
<!--<div class="card card-custom">-->
@*card-header*@
<!--<div class="card-header">
    <div class="card-title">
        <button class="btn btn-success" title="AssignRole" id="AssignRolebtn" disabled>Edit Role</button>
    </div>
</div>

<div class="card-body">-->
@*begin: Datatable*@
<!--<table class="table table-bordered table-hover table-checkable" id="engineer_datatable" style="margin-top: 13px !important">
    <thead>
        <tr>-->
@*add checkbox*@
<!--<th></th>
<th>Id</th>
<th>Name</th>
<th>Role</th>-->
@*add button*@
<!--<th>Action</th>
        </tr>
    </thead>
</table>-->
@*end: Datatable*@
<!--</div>-->
@*end::Card-Body*@
<!--</div>-->
@*end::Card*@
<!--</div>-->
@*end::engineer list tab
    begin:: class list tabcontent*@
<!--<div class="container tabContent ClassLink" id="class">-->
@*begin:Card*@
<!--<div class="card card-custom">-->
@*card-header*@
<!--<div class="card-header"></div>

<div class="card-body">-->
@*begin: Datatable*@
<!--<table class="table table-bordered table-hover table-checkable" id="class_datatable" style="margin-top: 13px !important">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Class Number</th>-->
@*add button*@
<!--<th>Action</th>
        </tr>
    </thead>
</table>-->
@*end: Datatable*@
<!--</div>-->
@*end::Card-Body*@
<!--</div>-->
@*end::Card*@
<!--</div>-->
@*end: class list tabcontent*@