@section styles{
    <link href="~/css/HR/view-all-courses.css" rel="stylesheet" type="text/css" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">

        <div class="container">


            <div class="card card-custom">
          
                <div class="card-header">
                
                
                </div>

                  @*card body is to add content*@
                <div class="card-body">

                    <div style="display: inline-block;">Filter By : </div>

                    <div style="display: inline-block;">
                        @*add filter*@
                        <select id="courseFilter" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="">No Filter</option>
                            <option value="Course 1">Course 1</option>
                            <option value="Course 2">Course 2</option>
                            <option value="Course 3">Course 3</option>
                        </select>
                    </div>


                    <div style="display: inline-block;">
                        @*add button*@
                        <button id="addCoursebtn" class="btn btn-primary">Add New Course</button>
                        <br />
                    </div>




                    @*begin: Datatable*@
                    <table class="table table-bordered table-hover table-checkable" id="course_datatable" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Classes</th>
                                <th>Created Date</th>
                                <th>Updated Date</th>
                                @*add button*@
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*end: Datatable*@

                </div>
            </div>

        </div>

    </div>
</div>

@section scripts {
    <script src="~/js/HR/view-all-courses.js"></script>
}

@*begin: overlay*@

@*<div class="overlay" style="display:none">*@
<div class="overlay" style="display:none">

    <div class="content d-flex flex-column flex-column-fluid">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                @*Add Course Modal*@
                <div id="addCoursePopUp" class="card card-custom" style="width: 50rem; margin: 0 auto;">

                    <button style="margin-left:5px;" type="button" class="btn-close" aria-label="Close"></button>

                    <div class="card-body">
                        <form id="addCourseForm">
                            <div class="form-group">
                                <h1>New Course</h1>
                                <input type="text" class="form-control" id="coursename" placeholder="Enter new course name">
                            </div>
                            <br />
                            <button id="submitCourse" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>

                @*Add Class Modal*@
                <div id="addClassPopUp" class="card card-custom" style="width: 50rem;margin:0 auto;">

                    <button style="margin-left:5px;" type="button" class="btn-close" aria-label="Close"></button>

                    <div class="card-body">

                        <form id="addClassForm">
                            <div class="form-group">
                                <h1 style="display:inline">Course : </h1>
                                <h1 style="display: inline" id="couseNameInput"></h1>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="class">Class Name</label>
                                <input type="text" class="form-control" id="classname" placeholder="Class Name">
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="slots">Number of Slots in Class</label>
                                <input type="number" class="form-control" id="inputSlots" placeholder="Enter Slots">
                            </div>
                            <br />
                            <button id="submitClass" type="submit" class="btn btn-primary">Submit</button>
                        </form>


                    </div>

                </div>

            </div>

        </div>
    </div>

 
</div>
@*end: overlay*@
