@section styles{
    <link href="~/css/HR/view-all-courses.css" rel="stylesheet" type="text/css" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">

        <div class="container">
            <div class="card card-custom">
                @*header of the table : put tabs here *@
                <div class="card-header">
                </div>

                @*card body is to add content*@
                <div class="card-body">


                    @*begin: Datatable*@
                    <table class="table table-bordered table-hover table-checkable" id="course_datatable" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Classes</th>
                                <th>Created Date</th>
                                <th>Updated Date</th>
                                @*add button*@
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*end: Datatable*@

                </div>
            </div>

        </div>

    </div>
</div>

@section scripts {
    <script src="~/js/HR/view-all-courses.js"></script>
}

@*begin: overlay*@

@*<div class="overlay" style="display:none">*@
<div class="overlay" style="z-index: 999 !important;">


    <div id="addCoursePopUp" class="card" style="width: 50rem;margin:0 auto;">

        <button style="float: right;" type="button" class="btn-close" aria-label="Close"></button>


        @*card body is to add content*@
        <div class="card-body">
            <h1>Course Name</h1>
            <input type="text" class="form-control" id="inputCourseName" placeholder="Enter New Course Name" />
            <br />
            <button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>

    <div id="addClassPopUp" class="card" style="width: 50rem;margin:0 auto;">

        <button style="float: right;" type="button" class="btn-close" aria-label="Close"></button>


        @*card body is to add content*@
        <div class="card-body">
            <h1>Course Name :</h1>
            <br />
            <h1>Class Name</h1>
            <input type="text" class="form-control" id="inputClassName" placeholder="Enter New Class Name" />
            <br />
            <h1>Total Slots</h1>
            <input type="number" class="form-control" id="inputClassName" placeholder="Enter Slots" />
            <br />
            <button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>

</div>
@*end: overlay*@
