<!--begin::Brand-->
<div class="aside-logo flex-column-auto pt-9 pb-7 px-9" id="kt_aside_logo">
    <!--begin::Logo-->
    <a href="index.html">
        <img alt="Logo" src="~/assets/media/logos/logo-default.svg" class="max-h-50px logo-default" />
        <img alt="Logo" src="~/assets/media/logos/logo-compact.svg" class="max-h-50px logo-minimize" />
    </a>
    <!--end::Logo-->
</div>
<!--end::Brand-->

@*TODO  CHANGE ACTIVE CLASS BASED ON URL*@
<div class="aside-menu flex-column-fluid px-3 px-lg-6">
    <!--begin::Aside Menu-->
    <!--begin::Menu-->
    <div class="menu menu-column menu-pill menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 menu-active-bg-primary fw-bold fs-5 my-5 mt-lg-2 mb-lg-0" id="kt_aside_menu" data-kt-menu="true">
        <div class="hover-scroll-y me-n3 pe-3" id="kt_aside_menu_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-offset="20px">
            <div class="menu-item mb-1">
                <a class="menu-link active" href="index.html">
                    <span class="menu-icon">
                        <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks.svg-->
                        <i class="fas fa-tachometer-alt"></i>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">Dashboards</span>
                </a>
            </div>

            <!--begin::Administrator-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fas fa-users-cog"></i>
                    </span>
                    <span class="menu-title">Administration</span>
                    <span class="menu-arrow"></span>
                </span>

                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link" asp-controller="Administrator" asp-action="ViewAllEngineers">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View All Engineers</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" asp-controller="Administrator" asp-action="ViewAllCourses">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View All Courses</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" asp-controller="Administrator" asp-action="ViewAllClasses">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View All Classes</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" asp-controller="Administrator" asp-action="ViewAllRequests">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View All Requests</span>
                        </a>
                    </div>


                </div>
            </div>
            <!--end::Administrator-->
            <!--begin::Learner-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
                    <span class="menu-title">Learner</span>
                    <span class="menu-arrow"></span>
                </span>

                <div class="menu-sub menu-sub-accordion">


                    <!--template: for view tabs-->
                    <div class="menu-item">

                        <!--change asp-controller to Learner-->
                        <a class="menu-link" asp-controller="Learner" asp-action="ViewCourses">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View Courses</span>
                        </a>
                    </div>


                </div>

            </div>
            <!--end::learner-->

            <!--begin::Trainer-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </span>
                    <span class="menu-title">Trainer</span>
                    <span class="menu-arrow"></span>
                </span>

                <div class="menu-sub menu-sub-accordion">


                    <!--change asp-controller to Trainer -->
                    <div class="menu-item">
                        <a class="menu-link" asp-controller="Administrator" asp-action="ViewEngineers">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">View All Engineers</span>
                        </a>
                    </div>

                </div>

            </div>
            <!--end::Trainer-->



        </div>
    </div>
    <!--end::Menu-->
</div>
<!--begin::Footer-->
<div class="aside-footer flex-column-auto px-6 pb-5" id="kt_aside_footer">
    <a href="https://keenthemes.com/products/rider-html-pro" class="btn btn-light-primary w-100" data-bs-toggle="tooltip" data-bs-html="true" data-bs-trigger="hover" title="Upgrade to Pro to get &lt;br/&gt;the best of Rider">Upgrade to Pro</a>
</div>
<!--end::Footer-->